body {
            margin: 0;
            padding: 20px;
            background-color: #0e56e7;    
            background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(https://i.ibb.co/C3mK0xRT/Screenshot-20260103-025506-1.jpg);
            background-size: cover;
            background-attachment: fixed;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        
        .container {
            display: flex;
            flex-direction: column;
            gap: 40px;
            max-width: 800px;
            width: 100%;
        }

        
        .card-link {
            text-decoration: none;
            color: inherit;
            display: block;
            transition: transform 0.3s ease;
        }

        .card-link:hover {
            transform: scale(1.02);
        }

        .card {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

       
        .card.right {
            align-items: flex-end;
            text-align: right;
        }

        .card h2 {
            font-size: 1.2rem;
            letter-spacing: 2px;
            margin-bottom: 10px;
            text-transform: uppercase;
        }

        .image-box {
            position: relative;
            width: 350px;
            height: 200px;
            border: 2px solid #ffffff33;
            overflow: hidden;
            box-shadow: 0 10px 30px rgba(0,0,0,0.5);
        }

        .image-box img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.2);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 3rem;
            font-weight: bold;
            letter-spacing: 10px;
            opacity: 0.7;
            transition: opacity 0.3s;
        }

        .card-link:hover .overlay {
            opacity: 1;
            background: rgba(0, 0, 0, 0);
        }

        .description {
            margin-top: 10px;
            font-size: 0.85rem;
            max-width: 350px;
            line-height: 1.4;
            opacity: 0.9;
        }
        .pera{
            height: 250px;
        }
.pogi12{
            height: 300px;
            width: 500px;
       
